.container {
  height: calc(100vh - 70px);
  max-width: 1024px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.container__image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 60px;
}

.container__name {
  font-size: 20px;
  font-weight: 500;
  margin: 12px 0;
}

.container__special {
  font-size: 28px;
  font-weight: 700;
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #fe9d44 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: LabelGradient 5s ease-in-out infinite alternate;
}

.container__actions {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.container__actions__hire {
  background-color: black;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s linear;
  margin-right: 12px;
  font-weight: 400;
}

.container__actions__hire:hover {
  cursor: pointer;
  opacity: 0.8;
}

.container__actions_download {
  display: flex;
  align-items: center;
  margin-left: 12px;
  transition: all 0.3s linear;
}

.container__actions_download__label {
  font-size: 16px;
  margin-right: 12px;
}

.container__actions_download__icon {
  animation: UpDown 1s ease-in-out infinite alternate;
}

.container__actions_download:hover {
  opacity: 0.6;
  cursor: pointer;
}

@keyframes LabelGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes UpDown {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
  0% {
    transform: translateY(-4px);
  }
}
