.about {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  align-items: center;
}

.about__title {
  flex: 1;
  font-size: 36px;
}

.about__title strong {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #fe9d44 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: LabelGradient 5s ease-in-out infinite alternate;
}

@keyframes LabelGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.about__right {
  flex: 1;
  position: relative;
}

.about__image {
  width: 100%;
  z-index: 0;
  animation: TransformUpDownRepeat 2s ease-in-out infinite alternate;
}

.about__card__bubble {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 200;
  width: 100;
  background-color: grey;
  backdrop-filter: blur(40px);
  border-radius: 4px;
}

@keyframes TransformUpDownRepeat {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
  0% {
    transform: translateY(-20px);
  }
}
