.header {
  height: 70px;
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(256, 256, 256, 0.5);
  backdrop-filter: blur(10px);
}

.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
}

.navbar__email {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__email__name {
  margin-left: 8px;
}

.navbar__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__menu__item {
  transition: all 0.3s ease;
  font-size: 18px;
  margin: 0 20px;
}

.navbar__menu__item:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.navbar__socials {
  display: flex;
  align-items: center;
}

.navbar__socials span {
  transition: all 0.3s ease;
}

.navbar__socials span:hover {
  opacity: 0.7;
  cursor: pointer;
}

.navbar__socials__separator {
  width: 12px;
}
