.footer {
  border-top: 1px solid #f0f0f0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  padding: 12px 0;
}

.footer__information {
}

.footer__contact {
  display: flex;
}

.footer__contact__label {
  margin-right: 12px;
}

.footer__contact__socials {
  display: flex;
}

.footer__contact__socials__divider {
  width: 8px;
}
