@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

ul,
li {
  color: inherit;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
